.mid{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../imgs/img1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 80px);
   display: flex;
   justify-content: start;
   align-items: center;
}
.text{
  
    color: white;
    margin-left: 1rem;
}
.text p{
    font-size: 30px;
    font-family: 'roboto';
    
}
.text h1{
    font-size: 80px;
    font-family: 'roboto';
    
}

.button{
    border-radius: 8px;
    font-family: 'roboto';
    font-size: 22px;
    background-color: #EE5253;
    border: none;
    color: white;
    padding: 16px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0.1em 0.1em ;
  transform: translateY(-0.25em);
}

@media screen and (max-width: 808px){
    .mid{
        
      
        justify-content: center;
        align-items: center;
   
        
    }

    

    .text p{
        font-size: 20px;
        font-family: 'roboto';
        
    }
    .text h1{
        font-size: 60px;
        font-family: 'roboto';
        
    }
}
@media screen and (max-width: 585px){
    
    .text h1{
        font-size: 50px;
        font-family: 'roboto';
        
    }
}
@media screen and (max-width: 485px){
    
    .text h1{
        font-size: 45px;
        font-family: 'roboto';
        
    }
}
@media screen and (max-width: 430px){
    
    .text h1{
        font-size: 30px;
        font-family: 'roboto';
        
    }
}