.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to top, #D92223, #EE5253);
}
.title{
    width: 143px;
    height: 32px;   
    margin-left:27px;
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    font-size: 30px;
}
.social{
    margin-right: 27px;
}
.social ul{
    display: flex;
    list-style: none;
    gap: 16px;
    
}
.social ul li{
    cursor: pointer;
    
}
