.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-family: 'roboto';
    color: #333333;
}
.FoterText{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem ;
  
}

.divtext{
    width: 30%;
    
}
.form{
    height: 120px;
    width: 100%;
    background-color: #EAEAEA;
    position: absolute;
    margin-top: 22rem;
    line-height: 0;
}

.contato{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    height: 300px;
    width: 100%;
}
.contato form{
    width: 100%;
   display:flex;
   flex-direction:row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 16px;
    
    
    
}
.contato form input{
    border-radius: 8px;
    border:1px solid #CDCDCD;
    box-sizing: border-box;
    padding: 1rem;
    height: 60px;
    width: 338px;
    
    
}


.contato button{
    background-color: #10AC84;
    border-radius: 8px;
    border:none;
    padding: 1rem 2.5rem;
    color: white;
    font-family: 'roboto';
    font-size: 22px;
    cursor: pointer;
}
@media screen and (max-width: 912px)
{


    .contato form{
        width: 100%;
       display:flex;
       flex-direction:column;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 16px;
        
        
        
    }
    .contato{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        height: 300px;
        width: 100%;
    }
}

@media screen and (max-width: 666px)
{

    

    .FoterText{
        display: flex;
        flex-direction: column;
    }

    .img{
        width: 300px;
        height: 300px;
    }
    .form{
        
    height: 120px;
    width: 100%;
    background-color: #EAEAEA;
    display: none;
    line-height: 0;
       
    }
    .divtext{
        width: 100%;
        
    }
    
}